body{
	background-image: url(https://cdn2-www.superherohype.com/assets/uploads/gallery/crisis-on-earth-x/23847223_10155908669912436_8272982042695884468_o.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
#h1{
    text-align: center;
    color: #A0000F;
    margin-top: 50px;
    font-size: 45px;
}
#p1{
	text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 39px;
}
#p2{
	text-align: center;
    color: #A0000F;
    font-size: 32px;
}
#p3{
	text-align: center;
    color: black;
    font-size: 29px;
}
#div2{

}
#p4{
   text-align: center;
   color: black;
   font-size: 29px;
   margin-block-start: 0.1em;
   margin-block-end: 0.1em;
}
#p5{
	text-align: center;
    color: #A0000F;
    font-size: 32px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
#div3{
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(194,0,0,1) 50%, rgba(227,0,0,1) 100%);
	margin-left: -8px;
	margin-right: -8px;	
}
#div4{

}
#p6{
	text-align: center;
    color: #005900;
    font-size: 32px;
}
#p7{
    text-align: center;
    color: #143A54;
    font-size: 32px;
}
#p8{
    text-align: center;
    color: #005900;
    font-size: 32px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
#p9{
    text-align: center;
    color: #143A54;
    font-size: 32px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
#div5{
	background: linear-gradient(90deg, rgba(0,255,214,1) 0%, rgba(0,185,74,1) 50%, rgba(0,199,30,1) 100%);
	margin-left: -8px;
	margin-right: -8px;	
}
#p10{
	text-align: center;
    color: #36002B;
    font-size: 32px;
}
#p11{
	text-align: center;
    color: #BE3081;
    font-size: 32px;
}
#div6{
	background: linear-gradient(90deg, rgba(205,0,255,1) 0%, rgba(185,0,147,1) 50%, rgba(199,0,84,1) 100%);
	margin-left: -8px;
	margin-right: -8px;	
}
#p62{
	text-align: center;
    color: #005900;
    font-size: 40px;
    font-style: oblique;
}
#p102{
	text-align: center;
    color: #36002B;
    font-size: 40px;
    font-style: oblique;
}
#p22{
	text-align: center;
    color: #A0000F;
    font-size: 40px;
    font-style: oblique;
}
#p112{
	text-align: center;
    color: #A65200;
    font-size: 40px;
    font-style: oblique;
}
#div7{
	background: linear-gradient(90deg, rgba(199,0,84,1) 0%, rgba(185,0,147,1) 50%, rgba(205,0,255,1) 97%);
	margin-left: -8px;
	margin-right: -8px;	
}
#div8{
	background: linear-gradient(90deg, rgba(11,199,0,1) 0%, rgba(0,185,111,1) 50%, rgba(0,255,239,1) 100%);
	margin-left: -8px;
	margin-right: -8px;	
}
#p13{
	text-align: center;
    color: #A65200;
    font-size: 32px;
}
#p12{
	text-align: center;
    color: #577B1F;
    font-size: 32px;
}